
<div class="schedule-container">
    <table id="mainTable">
        <thead id="thead">
            <th><button class="btn btn-primary">Hour</button></th>
            <th><button class="btn btn-primary">Mon</button></th>
            <th><button class="btn btn-primary">Tue</button></th>
            <th><button class="btn btn-primary">Wed</button></th>
            <th><button class="btn btn-primary">Thu</button></th>
            <th><button class="btn btn-primary">Fri</button></th>
        </thead>
        <tbody id="tbody">
            <tr *ngFor="let e of elements">
              <td><span>{{e.h}}</span></td>
              <td>
                <span class="name">{{e.mon.name}}</span>
                <br>
                <span class="prof">{{e.mon.prof}}</span>
              </td>
              <td>
                <span class="name">{{e.tue.name}}</span>
                <br>
                <span class="prof">{{e.tue.prof}}</span>
              </td>
              <td>
                <span class="name">{{e.wed.name}}</span>
                <br>
                <span class="prof">{{e.wed.prof}}</span>
              </td>
              <td>
                <span class="name">{{e.thu.name}}</span>
                <br>
                <span class="prof">{{e.thu.prof}}</span>
              </td>
              <td>
                <span class="name">{{e.fri.name}}</span>
                <br>
                <span class="prof">{{e.fri.prof}}</span>
              </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
