
<div class="subs-class-form">
    <h1>Create Class</h1>
    <form [formGroup]="subsClassForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="class">Choose a Class</label> &nbsp;
        <select id="class" formControlName="class" (change)="populateCard()" >
          <option *ngFor="let c of classes" [value]="c._id">{{c.name}}</option>
        </select>
      </div>
      <div class="cardContainer">
        <div>
          <span class="info">Name: </span>
          <span>{{cardName}}</span>
        </div>

        <div>
          <span class="info">Starts: </span>
          <span>{{cardStarts}}</span>
          </div>

        <div>
          <span class="info">Ends: </span>
           <span>{{cardEnds}}</span>
        </div>

        <div>
          <span class="info">Days: </span>
          <span>{{cardDays}}</span>
        </div>

        <div>
          <span class="info">Capacity: </span>
          <span>{{cardCapacity}}</span>
        </div>

        <div>
          <span class="info">Professor: </span>
          <span>{{cardProfessor}}</span>
        </div>

      </div>
      <br>
      <button class="btn btn-primary" type="submit">Submit</button>
      <span *ngIf="message!==''" [ngClass]="(message=='Subscription Succesfully')?'colorBlue message':'colorRed message'">
          <span>{{message}}</span>
      </span>
    </form>
  </div>

