.dashboard{
  width: 60%;
  margin: 2% auto;
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-evenly;
}

.nav a{
  width: 25%;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid transparent;
  background-color: #007bff;
  color: white;
}

nav a.active{
  color: #007bff;
  background-color: white;

}

.logout{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container{
  width: 80%;
  position: relative;
}
